.about {
  margin: 100px 0;
  &__section {
    display: flex;
    align-items: center;
  }

  &__section + &__section {
    margin-top: 100px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    text-align: center;
    font-size: $fs-xl;
    margin-top: 0;
  }

  &__content {
    width: 60%;
    margin: 0 auto;
  }

  &__image {
    width: 40vw;
    display: block;
    border-radius: 5px;
    box-shadow: black 0px 0px 5rem;
    height: 500px;
    object-fit: cover;
  }

  &__section:nth-child(2) &__text {
    order: 2;
  }
  
  &__section:nth-child(1) &__content{
    text-align: right;
  }
}