body {
  font-family: $ff-ss;
  font-weight: $fw-n;
  color: $c-dark;
}

h1 {
  font-family: $ff-ss;
  font-weight: $fw-b;
}

h2 {
  font-family: $ff-ss;
  font-weight: $fw-b;
  color: $c-primary;
}