main {
  margin-top: 200px;
}

.events {
  &:nth-child(1) {}
    margin-top: 0;
    &__heading {
      margin-top: 0;
  }
  &:not(:nth-child(1)) {
    margin-top: 150px;
  }

  &--technical .event-card__title {
    background-image: $cg-g1;
    background-clip: text;
    color: transparent;
  }
  &--non-technical .event-card__title {
    background-image: $cg-g2;
    background-clip: text;
    color: transparent;
  }
  &--online .event-card__title {
    background-image: $cg-g3;
    background-clip: text;
    color: transparent;
  }
}

.events-grid {
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, minmax(300px, 300px));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  //margin: 0px auto;
  align-items: center;
}

.event-card {
  position: relative;
  height: 200px;
  width: 300px;
  text-align: center;
  display: flex;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $c-dark;
  box-shadow: rgb(0, 0, 0) 0px 0px 5rem;
  will-change: left;
  transition: transform .2s cubic-bezier(.39,.58,.57,1);

  &__title {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
  }

  &:hover {
    transform: translate3d(0, -10px, 0) scale3d(1.1, 1.05, 1);
  }
}

.events--all {
  .event-card {
    .event-card__title {
      background-clip: text;
      color: transparent;
      line-height: 200px;
    }
    &:nth-child(1) {
      border-bottom: 5px solid rgb(204, 110, 0);
      .event-card__title {
        background-image: $cg-g1;
      }
    }
    &:nth-child(2) {
      border-bottom: 5px solid rgb(48, 207, 208);
      .event-card__title {
        background-image: $cg-g2;
      }
    }
    &:nth-child(3) {
      border-bottom: 5px solid rgb(182, 244, 146);
      .event-card__title {
        background-image: $cg-g3;
      }
    }
  }
}

.events-all {
  &__link {
    width: 100%;
  }
}

.events--online {
  margin-bottom: 200px;
}

.events--technical .event-card {
  border-bottom: 5px solid rgb(204, 110, 0);
}

.events--non-technical .event-card {
  border-bottom: 5px solid rgb(48, 207, 208);
}

.events--online .event-card {
  border-bottom: 5px solid rgb(182, 244, 146);
}

.expanded {
  position: absolute;
  width: 100vw;
  height: 100vh !important;
  cursor: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin:0;
  z-index:999;
  transition: width 1s, height 1s, left 1s, top 1s;
}
