.footer {
  &__social {
    width: 100%;
    height: 60px;
    background-color: $c-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #1fd490 0px 10px 2rem -12px;
    &__link {
      height: 50px;
    }
    &__image {
      width: 40px;
      filter: grayscale(1);
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__contact {
    padding-left: 50px;
    h2 {
      margin: 0;
    }
  }

  &__copyright-info {
    font-size: $fs-s;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.contact__heading {
  font-family: $ff-ss;
  font-weight: $fw-b;
  text-transform: capitalize;
}

.contact__list {
  width: 300px;
}

.contact__position {
  font-weight: $fw-b;
  font-size: $fs-s;
  text-transform: uppercase;
  margin-top: 10px;
}

.contact__info {
  margin: 0;
}

.contact__info__tel {
  float: right;
}

.nav--footer {
  border-right: .5px solid lighten($c-dark, 10%);
  padding-right: 50px;
  margin-top: 50px;
}