.header {
  position: fixed;
  width: 100%;
  background: $c-dark;
  z-index: 999;
  &__logo__img {
    height: 60px;
    vertical-align: middle;
  }

  &__logo__title {
    font-family: $ff-s;
    font-weight: $fw-n;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .nav {
    display: inline-block;
    position: absolute;
    width: 587px;
    left: 50%;
    transform: translateX(-50%);
    
    &__list {
      display: inline-block;
      text-align: center;
      &-item {
        display: inline-block;
        a {
          line-height: 60px;
          padding: 1em;
        }
      }
    }
  }
}


