.header {
  position: fixed;
  width: 100%;
  background: $c-dark;
  z-index: 999;

  &__logo:active &__logo__title, &__logo:active &__logo__img {
    transform: translateX(5px);
  }
  
  &__logo__img {
    height: 60px;
    vertical-align: middle;
    user-select: none;
    transition: transform .1s ease-in-out;
  }

  &__logo__title {
    font-family: $ff-s;
    font-weight: $fw-n;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: transform .1s ease-in-out;
  }
  
  .nav {
    display: inline-block;
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    
    &__list {
      display: inline-block;
      text-align: center;
      
      &-item {
        display: inline-block;
        transition: border-width .3s cubic-bezier(.65,.05,.36,1);
        &:hover {
          border-bottom: 1px solid $c-secondary;
        }
        a {
          line-height: 60px;
          padding: 1em;
        }
      }
    }
  }
  .nav.nav--events {
    width: 601px;
  }
}


