@media only screen and (max-width: 1032px) {
  .events-grid {
    grid-template-columns: repeat(2, minmax(300px, 300px));
  }
}

@media only screen and (max-width: 1200px) {
  .header .nav {
    display: none;
  }

  .header__menu-toggle{
    display: flex;
  }

  .hero__dept-info {
    line-height: 1.2;
  }
  .gallery__item {
    width: 400px;
    height: 260px;
  }
}

@media only screen and (max-width: 900px) {
  
  .about{ 
    margin-bottom: 0;
  }

  .about__section {
    flex-direction: column;
    position: relative;
    padding: 68px 0;
  }
  .about__section:nth-child(1) .about__content {
    text-align: left;
  }

  .about__section + .about__section {
    margin-top: 0;
  }

  .about__image-container {
    display: block;
    position: absolute;
    left: 0;
    top: 210px;
    width: 100%;
    height: 225px;
  }

  .about__content {
    margin-top: 300px;
  }

  .about__image {
    width: 75vw;
    height: 100%;
    margin: 0 auto;
  }

  .about__text {
    padding-top: 50px;
  }

  .register {
    margin-top: 80px;
  }

  section > .register__heading {
    margin-bottom: 0;
  }
  
  main {
    margin: 0;
  }
}

@media only screen and (max-width: 835px) {

  .hero {
    grid-template-columns: 100px 1fr 210px .5fr 210px 1fr 100px;
    &__logo {
      &__title {
        font-size: 2.5rem;
      }
    }
  }

  .hero__logo__img {
    width: 190px;
  }

  .hero__countdown {
    padding: 0;
  }

  .hero__dept-info {
    font-size: 1rem;
  }

  .hero__buttons {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .hero__button {
    width: 150px;
    font-size: 1rem;
  }

  .gallery__item {
    width: 300px;
    height: 200px;
  }
}



@media only screen and (max-width: 700px) {
  .multi-lang__list {
    font-size: $fs-s;
  }
  .events-grid {
    grid-template-columns: repeat(1, minmax(300px, 300px));
  }
  .event-card {
    height: 100px;
  }
  .events--all {
    .event-card {
      .event-card__title {
        line-height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .hero {
    grid-template-columns: 100px 1fr 160px .5fr 160px 1fr 100px;
  }
  .hero__logo__title {
    font-size: 2rem;
  }
  .hero__logo__img {
    width: 140px;
  }
  .hero__countdown {
    font-size: 2.4rem;
  }
  .countdown_unit {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .about__text {
    padding: 0 35px;
  }

  .about__content {
    width: 100%;
  }

  .about__image-container {
    top: 165px;
  }

  .gallery__illustration {
    width: 75vw;
  }
}

@media only screen and (max-width: 520px) {
  .hero {
    grid-template-columns: 1fr 1fr 160px .5fr 160px 1fr 1fr;
  }
  .hero__dept-info {
    display: none;
  }
  .hero__social {
    display: none;
  }
  .footer__container {
    flex-direction: column;
  }
  .nav--footer {
    padding: 0;
    margin: 20px auto;
  }
  .nav__list {
    margin: 0 50px;
    text-align: center;
  }
  .nav__list-item {
    display: inline-block;
    background: lighten($c-dark, 10%);
    border-radius: 15px;
    font-size: $fs-s;
    margin: 5px 5px;
  }
  .nav__list-item a {
    padding: 8px 20px;
    display: inline-block;
  }
  .footer__contact {
    padding-left: 0px;
  }
  .events .heading {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 516px) {
  .about__section:nth-child(2) .about__image-container {
    top: 210px;
  }
}

@media only screen and (max-width: 480px) {
  .multi-lang {
    font-size: .5rem;
    &__list {
      &__item {
        &:nth-child(1) {
          top: 30px;
          left: 5vw;
        }
        &:nth-child(8) {
          bottom: 30px;
          right: 5vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 447px) {
  .about__image-container {
    top: 200px;
  }
}

@media only screen and (min-height: 935px) {
  .hero {
    grid-template-rows: 1fr 300px 130px 200px 1fr;
  }
}

@media only screen and (max-height: 812px) {
  .hero {
    grid-template-rows: 60px 248px 130px 200px 1fr;
  }
  .hero__logo__img {
    width: 160px;
  }
}