.js-side-nav {
  z-index: 99999;
}

.header__menu-toggle {
  display: none;
  position: absolute;
  right: 10px;
  line-height: 50px;
  background: none;
  border: none;
  width: 33px;
  height: 24px;
  padding: 0;
  margin: 0;
  margin-top: 19px;
  color: #FFF;
  cursor: pointer;
}

.nav-toggle-bar, .nav-toggle-bar::after, .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.5s ease;
  background: $c-primary;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 5px;
}


.nav-toggle-bar { margin-top: 0; }

.nav-toggle-bar::after { margin-top: 0.5rem; width: 75%; }

.nav-toggle-bar::before { margin-top: -0.5rem; width: 75%; }

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.side-nav--visible {
  pointer-events: auto;
}

.side-nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.side-nav__container {
  position: relative;
  width: 90%;
  max-width: 20rem;
  background: $c-primary;
  height: 100%;
  box-shadow: 2px 0 12px rgba(0,0,0,0.4);
  transform: translateX(-102%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.side-nav--animatable .side-nav__container {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible.side-nav--animatable .side-nav__container {
  transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before {
  opacity: 1;
}

.side-nav--visible .side-nav__container {
  transform: none;
}

.side-nav__hide {
  position: absolute;
  left: 16px;
  top: 16px;
  background: none;
  border: none;
  color: #FFF;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.side-nav__header {
  height: 200px;
  background: $c-primary;
  color: #FFF;
  display: flex;
  padding: 16px;
  align-items: flex-end;
  font-size: 24px;
}

.side-nav__content {
  padding-top: 32px;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  a {
    color: $c-light;
  }
}

.side-nav__content li {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

.side-nav__content li a {
  color: $c-light;
}

.side-nav__content li:hover {
  background: darken($c-primary, 10%);
}

