$c-primary: #DA1B60;
$c-secondary: #1FD490;
$c-dark: #131317;
$c-light: #F4F4F4;
$c-a1: #2ec4b6;
$c-a2: #FB05EF;
$c-a3: #11295c;

$cg-primary: linear-gradient(to right, #FB05EF, #5000FF);
$cg-g1: linear-gradient(to right, rgb(204, 110, 0), rgb(167, 21, 73));
$cg-g2: linear-gradient(to right, #30cfd0 0%, #4a0a97 100%);
$cg-g3: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));