@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('../../fonts/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('../../fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'YesevaOne';
  src: url('../../fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode-Retina';
  src: url('../../fonts/FiraCode-Retina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//font-family
$ff-ss: "IBM-Plex-Sans";
$ff-s: "YesevaOne";
$ff-m: "FiraCode-Retina";
//font-size
$fs-s: .8rem;
$fs-n: 1rem;
$fs-l: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 3rem;
//font-weight
$fw-n: normal;
$fw-b: bold;
//letter-spacing
//line-height