@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('../../fonts/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('../../fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'YesevaOne';
  src: url('../../fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode-Retina';
  src: url('../../fonts/FiraCode-Retina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//font-family
$ff-ss: -apple-system, BlinkMacSystemFont, "IBM-Plex-Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$ff-s: "YesevaOne", Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;;
$ff-m: "FiraCode-Retina", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
//font-size
$fs-s: .8rem;
$fs-n: 1rem;
$fs-l: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 3rem;
//font-weight
$fw-n: normal;
$fw-b: bold;
//letter-spacing
//line-height